@font-face {
    font-family: reg;
    src: url('../fonts/Rakkas-Regular.ttf');
}

.fa-small{
    width: 30px !important;
    height: 30px !important;
    padding-left: 10px;
    font-size: 16px !important;
    text-align: center !important;
}

/* .btn-floating {
    background-color: orange !important;
} */

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}



#flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;

}

#flex > * {
    width: 48px;

}

.brand-logo {
    font-family: reg;
}