@font-face {
    font-family: reg;
    src: url('../fonts/Rakkas-Regular.ttf');
}

@font-face {
    font-family: neww;
    src: url('../fonts/Alkalami-Regular.ttf');
}

.fa-small{
    width: 30px !important;
    height: 30px !important;
    padding-left: 10px;
    font-size: 16px !important;
    text-align: center !important;
}

/* .btn-floating {
    background-color: orange !important;
} */

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.main-title {
    font-family: neww !important;
}

#flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;

}

#flex > * {
    width: 48px;

}

.brand-logo {
    font-family: reg;
    margin-top: 5px;
}


#footer-card {
    display: flex;
}

#first {
    flex: 0.9 !important;
    /* background-color: red; */
}

#second {
    flex: 0.1 !important;
    /* background-color: blue; */
}


#like:hover {
    background-color: red !important;
}


.btn.grey:hover {
    background-color: rgb(65, 61, 61) !important;
}